<div data-role="view" data-title="BOL LIST" data-layout="main" data-model="app.bolsView" data-show="app.bolsView.onShow" data-after-show="app.bolsView.afterShow">
    <!-- START_CUSTOM_CODE_loginView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="lblMessage" style="display:none">No BOLs found.</div>
    <ul class="lstViewBol" data-role="listview" data-style="inset" data-template="bolsTemplate" data-bind="source: dataSource"></ul>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
    <script type="text/x-kendo-template" id="bolsTemplate">
        <a href='components/bolsView/viewBol.html?id=#:data.id#'>
            <div class="bolTemplateView">
                <div style="display: inline-block; width:50%;">BOL Id: #: data.id #</div>
                <div style="display: inline-block;">Status: #: data.status_label #</div>
             </div>
            <div class="bolTemplateView">
                <div style="display: inline-block; width:100%;">Sender: #: data.sender_company_name #</div>
                
            </div>
            <div class="bolTemplateView">
                <div style="display: inline-block;">Receiver: #: data.receiver_company_name #</div>
            </div>
            <div class="container-name">
                <div style="display: inline-block; width:50%;">Out Dt: #: data.out_date #</div>
                <div style="display: inline-block;">In Dt: #: data.in_date #</div>
            </div>
        </a>
    </script>
    <!-- END_CUSTOM_CODE_loginView -->
</div>