<div id="scanView" data-role="view" data-title="SCAN ASSETS" data-layout="main" data-model="app.scanView" data-init="loadAssetsListInIt" data-show="loadBolBinsScan">
    <!-- START_CUSTOM_CODE_loginView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div style="100vr">
        <div id="lblBolDescription"></div>
        <div id="lblDescription">To scan new assets, choose Asset Type and tap 'Start Scanning' button.</div>
        <div class="rTable" style="width:100%; border:0px;">
            <div class="rTableRow">
                <div class="rTableCell noPadding" style="width:50%; text-align:left;">
                    <select id="mySelect"></select> 
                </div>
                <div class="rTableCell noPadding" style="width:50%; text-align:right;">
                        <button class="button" id="scanButton">START SCANNING</button> 
                </div>
            </div>
        </div>
        <hr>
        <div class="rTable noBorders" >
            <div class="rTableRow">
                <div class="rTableCell noPadding" style="width:50%;"><h3>SCANNED ASSETS</h3></div>
                <div class="rTableCell noPadding" style="width:50%; text-align:right;"><input id="btnCancelScanDisabled" type="image" src="images/cancel-disabled.png" style="display:inline;"><input id="btnCancelScan" type="image" src="images/cancel.png" style="display:none;"><input id="btnUpdateBins" type="image" src="images/save.png" style="display:none;"><input id="btnUpdateBinsDisabled" type="image" disabled="true" src="images/save-disabled.png" style="display:inline;"></div>
            </div>
        </div>
        <div id="totalUnsavedScan" class="lblUnsavedScan"></div>
        <div id="bolBinView"></div>
    </div>
    
    <script id="scantemplate" type="text/x-kendo-template">
        <div class="rTableRow">
            <div class="rTableCell">#= obj_name #</div><div class="rTableCell">#= bin_id #</div><div class="rTableCell bolbindeleterow"><input type="image" id="deleteBin" src="images/delete.png" onClick="confirmDeleteBin(#= bolid #, '#= bin_id #')" /></div>
        </div>
    </script>
    <!-- END_CUSTOM_CODE_loginView -->
</div>