<div id="singleBolView" data-layout="main" data-role="view" data-style="inset" data-title="VIEW BOL" data-show="loadSingleBol" data-model="app.singleBolView">

    <div id="container">
        <div id="bolView" style="float:left; width:100%"></div>
    </div>
    
    <script type="text/x-kendo-template" id="bolTemplate">
            <div class="rTable rTableRound">
		        <div class="rTableRow" style="width:100%;">
                    <div class="rTableCell firstCellTitle" style="border-radius: 5px 0px 0px 0px;">BOL ID</div> <div class="rTableCell"> #: data.id #</div>
                </div>
                <div class="rTableRow" style="width:100%;">
                    <div class="rTableCell firstCellTitle">Sender</div><div class="rTableCell">#: data.sender_company_name #</div>
                </div>
                <div class="rTableRow" style="width:100%;">
                    <div class="rTableCell firstCellTitle">Receiver</div><div class="rTableCell">#: data.receiver_company_name #</div>
                </div>
                <div class="rTableRow" style="width:100%;">
                    <div class="rTableCell firstCellTitle">Carrier</div><div class="rTableCell"> #: data.carrier_company_name #</div>
                </div>
                <div class="rTableRow" style="width:100%;">
                    <div class="rTableCell firstCellTitle">Out/In Dates</div><div class="rTableCell"> #: data.out_date # - #: data.in_date #</div>
                </div>
                <div class="rTableRow" style="width:100%;">
                    <div class="rTableCell firstCellTitle" style="border-radius: 0px 0px 0px 5px;">Status</div><div class="rTableCell"> #: data.status_label #</div>
                </div>
            </div>
            <div class="bolTemplateView" style="line-height:10px;">&nbsp;<hr></div>
            <div>
                <div class="rTable" style="width:100%">
                   <div class="rTableHeading">
                        <div class="rTableHead rTableHeadEdgeLeft">Asset</div>
                        <div class="rTableHead">Qty</div>
                        <div class="rTableHead rTableHeadEdgeRight">Wt.</div>
                   </div>
                <div class="rTableBody">
                    # for (var i = 0; i < data.bol_records.length; i++) { #
                        <div class="rTableRow">
                            <div class="rTableCell">#= data.bol_records[i].obj_name #</div><div class="rTableCell">#= data.bol_records[i].qty #</div><div class="rTableCell">#= data.bol_records[i].weight #</div>
                        </div>
                    # } #
                </div>
                </div>
            </div>
            <div class="divFooter">
                <img src="images/ScanAsset.png" style="" onClick="redirectToScan(#: data.id #);" />
            </div>
    </script>
</div>
