<div id="singleBolView" data-layout="main" data-role="view" data-style="inset" data-title="BOL" data-show="loadSingleBol" data-model="app.singleBolView" >
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    
    <div id="bolView"></div>
    <div style="margin-top:5px">
        <div style="font-weight:bold; display: inline-block; width:60%;">Bol Bins:</div> <div style="display: inline-block;">Add Bin | </div> <div style="display: inline-block;">Scan Bin</div>
        <div id="bolBinView"></div>
    </div>
    
    <script type="text/x-kendo-template" id="bolTemplate">
            <div class="bolTemplateView">
                <div style="display: inline-block; width:50%;">Bol ID: #: data.id #</div>
                <div style="display: inline-block;">Status: #: data.status #</div>
             </div>
            <div class="bolTemplateView">
                <div style="display: inline-block; width:50%;">Fr: #: data.from_biz_id #</div>
                <div style="display: inline-block;">To: #: data.to_biz_id #</div>
            </div>
            <div class="container-name">
                <div style="display: inline-block; width:50%;">Out Dt: #: data.out_date #</div>
                <div style="display: inline-block;">In Dt: #: data.in_date #</div>
            </div>
    </script>
    
        <script type="text/x-kendo-template" id="bolBinsTemplate">
                <div class="bolTemplateView">
                    <div style="display: inline-block; width:90%;">#: data #</div>
                    <div style="display: inline-block;">[X]</div>
                </div>
        </script>
    
    
</div>
